* {
  margin: 0px;
}

/* header section */
header {
  display: flex;
  background-color: #e554731a;
  /* width: auto; */
  max-width: 1920px;
  max-height: 700px;
  width: auto;
  height: auto;
}

.header-content {
  display: flex;
}

.header-content-right {
  margin: 195px 80px 145px 240px;
}

/* header title  */
.header-content #header-title {
  width: 440px;
  flex-direction: column;
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 30px;
}

/* header subtitle */
.header-content #header-subtitle {
  width: 500px;
  flex-direction: column;
  color: #27272799;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* header button  */
.header-content button {
  border-radius: 8px;
  background: #e55473;
  padding: 18px 38px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border-color: transparent;
}

/* header image */
.header-content-left img {
  max-width: 600px;
  max-height: 650px;
  width: auto;
  height: auto;
  margin-right: 150px;
  margin-top: 50px;
}